.mb_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .mbview {
    margin-top: -15vh;
    &__title {
      font-size: 4rem;
      margin-bottom: 45px;
    }
    &__description {
      font-size: 2rem;
      margin-bottom: 45px;
    }
    &__room {
      font-size: 4rem;
      margin-bottom: 45px;
    }
    .button {
      margin-top: 50px;
      width: 350px;
      height: 60px;
      font-size: 25px;
      box-shadow: 0px 0px 8px white;
      border: 1px solid grey;
      border-radius: 10px;
      background-color: #cecece;
    }

    .button--changeback {
      position: absolute;
      bottom: 20px;
      right: 15px;
      height: 20px;
      font-size: 10px;
    }
  }
}
