.giphy-embed {
  display: none;
  &.showgif {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    img {
      margin-top: 15vh;
      width: 90vw;
      height: auto;
      box-shadow: 0px 0px 250px rgb(0, 0, 0);
    }
  }
}

.mb_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .mbview {
    margin-top: 15vh;
    &__title {
      font-size: 4rem;
      margin-bottom: 45px;
    }
    &__description {
      font-size: 2rem;
      margin-bottom: 45px;
    }
    &__room {
      font-size: 4rem;
      margin-bottom: 45px;
    }
    .button {
      margin-top: 50px;
      width: 250px;
      height: 60px;
      font-size: 25px;
      box-shadow: 0px 0px 70px #ffffff;

      border: 2px solid rgb(0, 0, 0);
      border-radius: 0px;
      background-color: #f1f1f1;
      color: hsl(0, 0%, 0%);
      font-weight: bold;
      font-size: 150%;
    }

    .button--changeback {
      position: absolute;
      bottom: 35px;
      right: 50%;
      transform: translate(50%);
      height: 23px;
      font-size: 11px;
    }
  }
}
