.ov_wrapper {
  display: flex;

  .nameslist {
    height: 80vh;
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__names {
      width: 100%;
      font-size: 7vh;
      text-shadow: -7px 0px 20px rgb(145, 145, 145);

      .emoji {
        font-size: 5.5vh;
        margin-left: 15px;
        text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
      }
    }
  }
}

.legals {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 0.8rem;
}
